@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

.navbar {
  position: fixed;
  width: 1590px;
  top: 0;
  height: 72px;
  padding: 0 60px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(6px);

  z-index: 100;
}

.nav-logo {
  font-family: 'Libre Baskerville', serif;
  font-size: 22px;
  letter-spacing: 2px;
  color: black;

  text-shadow:
    0 0 8px rgba(179, 0, 0, 0.6),
    0 0 18px rgba(179, 0, 0, 0.4);
}
